<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="height=device-height,width=400,user-scalable=yes">
</head>
<body>
<!--
<div>
     <form method="post">
         <input type="text" name="number" placeholder="teeeext"/>
         <input type="number" name="balance" placeholder="teeeext"/>
         <button type="submit">Добавит</button>
     </form>
</div>
-->
<table>
<tr>
    <th>Номер карты</th>
    <th>Ссылка</th>
    <th>Баланс</th>
</tr>
    {{#RowKSO}}
    <tr>
        <td>Карта {{schet}}</td>
        <td><a href="/kso?token={{id}}">Открыть</a>
        </td>
        <form action="/greeting?token={{id}}" method="post">
            <td><input type="number" required="" name="balance" placeholder="Баланс" width="5"/></td>
            <td> <button type="submit">Добавить</button></td>
        </form>
    </tr>>
    {{/RowKSO}}
</table>
</body>
</html>