<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="height=device-height,width=400,user-scalable=yes">
</head>
<body>
<div>
    <form action="/logout" method="post">
        <label>Карт прочекано: <span>{{viewed}} </span></label>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>

<!--
<div>
     <form method="post">
         <input type="text" name="number" placeholder="teeeext"/>
         <input type="number" name="balance" placeholder="teeeext"/>
         <button type="submit">Добавит</button>
     </form>
</div>
-->
<table>
<tr>
    <th>Номер карты</th>
    <th>Ссылка</th>
    <th>Баланс</th>
</tr>
    {{#RowKSO}}
    <tr>
        <td>Карта {{id}}</td>
        <td><a href="/kso?token={{token}}">Открыть</a>
        </td>
        <form action="/greeting?token={{token}}" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <td><input type="number" required="" name="balance" placeholder="Баланс" width="5"/></td>
            <td> <button type="submit">Добавить</button></td>
        </form>
    </tr>>
    {{/RowKSO}}
</table>
</body>
</html>