<!DOCTYPE HTML >
<html>
<head>
    <link rel="icon" type="image/x-icon" href="/file/favicon.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Transaction</title>
</head>
<body>
<p>{{transaction}}</p>
</body>
</html>